@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255,255,255, 0) !important;
  outline: none !important;
  -webkit-touch-callout: none;
  scroll-behavior: smooth;
}
:root{
  	/* Variables for storing colors */
	--card-clr: #2c303d;
	--body-clr: #141416;
	--primary-clr: #b9d4d2;
	--heading-clr: #dadada;
	--text-clr: #767a86;
  --star-rating: rgb(205, 207, 56);
}
body{
  background: #f2f2f2;
  height: 100vh;
}
/* scroll and highlights */
::selection {
  background: #5f457e;
}
::-webkit-scrollbar{
  width: 2px;
  background-color: #000000d7;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.6));
}

/* NAVIGATION */
.topper{
  background-color: #fff;
  /* padding: 10px; */
  display: flex;
  width: 100%;
}
.imglogo{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.imglogo img{
  width: 50px;
  margin: 10px 0 4px 20px;
}
.quickinfo{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* background-color: green; */
}
.quickinfo a{
  text-decoration: none;
  color: rgba(128, 128, 128, 0.795);
  /* background-color: white; */
}
.fas{
  color: #ff3131a9;
  padding: 5px;
}

.quickinfo p{
  font-size: 16px;
  color: #666;
  display: flex;
  margin-right: 55px;
  justify-content: flex-end;
  align-items: center;
}
.quickinfo p:nth-child(3),
.quickinfo p:nth-child(4),
.quickinfo p:nth-child(5),
.quickinfo p:nth-child(6) {
  display: none;
}
nav{
  background: #FF3131;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  z-index: 999;
}
.fixed{
  margin-top: 45px;

}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  height: 50px;
  padding-left: 10px;
  gap: 0;
  margin-top: 12px;
}
nav .logotxt{
  color: #040a0ac2;
  /* background-color: green; */
  margin-top: 1px;
  font-size: 9.7PX;
  margin-top: -10px;
  margin-left: 1.2px;
}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 16px;
  padding: 4px 15px;
  text-decoration: underline;
  text-decoration-color: #040a0a07;
  text-decoration-thickness: 5px;
  /* background-color: forestgreen; */
  transition: .3s ease-in-out;
}
nav ul li a:hover{
  color: cyan;
  border-radius: 20px;
  box-shadow:  0 0 5px #040a0a, 0 0 10px #f4ffff;
  
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
.dropdown{
  background-color: #212129;
  box-shadow: 1px 0 5px 2px rgba(0, 0, 0, 0.5);

}
.burger{
  display: none;
}
.burger div{
  width: 20px;
  height: 2px;
  margin: 5px;
  background-color: #fff;
}
@media all and (max-width: 775px) {
  .imglogo img{
    width: 50px;
    margin: 6px 0 0 30px;
    padding-bottom: 10px;
    /* background-color: green; */
  }
  .quickinfo{
    all: unset;
    margin-top: 10px;

  }
  .quickinfo p:nth-child(1), p:nth-child(2){
    display: none;
  }
  .quickinfo p:nth-child(3),
  .quickinfo p:nth-child(4),
  .quickinfo p:nth-child(5),
  .quickinfo p:nth-child(6) {
    all: unset;
    position: relative;
    margin-right: 10px;
  }
  .quickinfo .fab{
    margin: 0 6px;
    scale: 105%;
  }
  .quickinfo .fab.fa-instagram {
    color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  }
  
  .quickinfo .fab.fa-facebook-f {
    color: #3b5998;
  }
  
  .quickinfo .fab.fa-twitter {
    color: #00acee;
  }
  
  .quickinfo .fab.fa-whatsapp {
    color: #075E54;
  }
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 15px;
    width: 50%;
  }
  .fixed{
    margin-top: 41px;
  }
 /* MOBILE MENU BUGER */
 .navlinks {
  position: absolute;
  display: inline-block;
  background-color: #ffffff;
  height: 100vh;
  width: 50%;
  top: 0;
  transform: translateX(120%);
  transition: transform 0.5s ease-in;
}

.nav-active {
  transform: translateX(0%);
}

.burger {
  display: block;
  float: right;
  margin-top: 22px;
  margin-right: 10px;
  cursor: pointer;
  background-color: transparent;
  z-index: 999;
}

@keyframes navlinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggles .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
  transition: 0.5s ease-in-out;
  background-color: #000;
}

.toggles .line2 {
  opacity: 0;
}

.toggles .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
  transition: 0.5s ease-in-out;
  background-color: #000;
}

.navlinks li {
  justify-content: center;
  color: #000;
  width: 100%;
  text-align: right;
  transition: 0.5s ease-in-out;
}
.navlinks li:nth-child(1) {
  margin-top: 65px;
}

.navlinks a {
  font-size: 14px;
  letter-spacing: 1px;
  align-items: center;
  display: flex;
  width: 100%;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  margin-left: 5px;
  border-left: 4px solid red;
}
nav ul li a{
  line-height: 20px;
  font-size: 16px;
  padding: 4px 15px;
  text-decoration: underline;
  text-decoration-color: #040a0a07;
  text-decoration-thickness: 5px;
  transition: .5s ease-in-out;
}
nav ul li a:hover{
  border-radius: 20px;
  color: #000;
  box-shadow: unset;
}
.dropdown{
  display: none;
}
}


/* CONTENTS */
.slider{
	position: relative;
	width: 100%;
	background: #2c3e50; /* darckblue */
}
.myslide{
	height: 700px;
	display: none;
	overflow: hidden;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 20px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #00a7ff; /* blue */
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 10px;
	height: 5px;
	border: 3px solid #fff;
	/* border-radius: 50%; */
	margin: 0 10px;
	cursor: pointer;
}
/* /2 */

/* javascript */
.active, .dot:hover{
	border-color: #00a7ff; /* blue */
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */

/* 3 */
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 47%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h1{
	color: #00a7ff; /* blue */
	font-size: 50px;
	margin-bottom: 20px;
}
.txt p{
	font-weight: bold;
	font-size: 20px;
}
/* /3 */

/* 4 */
.myslide.fade > img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
/* /4 */



/* 5 */
@media screen and (max-width: 800px){
	.myslide{
		height: 350px;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 53%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 53%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 53%;}
	}

	.txt h1{
		font-size: 40px;
	}
	.txt p{
		font-size: 13px;
	}

}
/* /5 */

/* 6 */
@media screen and (max-width: 520px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
}
/* /6 */

/* Description  */
.description{
  width: 100%;
  height: 500px;
  background: #f2f2f2;
  margin-top: 0px;
  padding: 0 80px;
  /* text-align: center; */
  
}






/* cards  */
.description{
all: unset;
}
.cards-title{
  display: flex;
  width: 100%;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.11);
  justify-content: space-between;
  
}
.cards-title > p{
  padding: 10px;
  font-family: serif;
  display: flex;
  margin-top: 5px;
  text-align: center;
  align-items: center;
  border-left: 5px solid red;
}
.cards-title > p:nth-child(2){
  font-size: 16px;
}
.main {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  /* margin: 2%; */
}

.card {
  width: 25%; 
  display: inline-block;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.11);
  margin: 35px;
  background-color: #ece9f5;
  transition: .3s ease-in-out;
}
.card:hover{
  box-shadow: 2px 1px 15px #e2080838;
}
.image img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.title {
  text-align: center;
  padding: 0 10px;
  margin-top: 0px;
  /* background-color: greenyellow; */
}

h1 {
  font-size: 20px;
}
h1 > a{
  text-decoration: none;
  color: rgb(139, 40, 40);
  text-transform: uppercase;
}
h1 > a:hover{
 color: rgb(63, 75, 248);
}

.des {
  padding: 3px;
  text-align: center;
  justify-content: flex-end;
  padding-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 0;
}
.des p{
  /* background-color: greenyellow; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 10px;
}
.des >p .fas{
  padding: 2px;
  margin-right: 10px;
}
button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 26px;
  font-weight: 600;
  padding: 3px 30px;
}

button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .card {
    width: 95%;
    margin: 20px 10px;
  }
  .cards-title > p{
    font-size: 20px;
  }
  .cards-title > p:nth-child(2){
    font-size: 12px;
  }
}





/* BOOK SITE Visit  */
.wrapper {
	background: linear-gradient(135deg, #c8e0c4, #61030360, #03093d80, #556152);
	height: 100%;
	display: flex;
	align-items: center;
  padding: 20px 0;
	justify-content: center;
  font-family: 'Raleway';
}

.container {
	width: 70%;
	margin: 0px auto;
	box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
	display: flex;
	border-radius: 0 20px 20px 0;
}

.container-time {
	background-color: rgba(0, 0, 0, .95);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
	padding: 50px;
  padding-top: 75px;
	border-radius: 20px 0 0 20px;
	text-align: center;
}

.heading{
	font-size: 25px;
	text-transform: uppercase;
	justify-content: center;
  font-weight: 600;
  color: #fff;
	display: flex;
}
.booksitevisit{
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
}
.time{
  color: #fff;
}
.heading-days {
	color: #40bdbd;
	font-size: 30px;
  width: 100%;
  margin: 0;
}

.heading-phone {
	font-size: 18px;
  font-weight: unset;
  color: #fff;
	width: 100%;
}

.container-form {
	padding: 20px 0;
	margin: 0 auto;
	color: #000;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.301), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: #38313181 .5px solid;
	border-radius: 0 20px 20px 0;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

form {
	display: grid;
	width: 70%;
	grid-row-gap: 15px;
}

form p {
	font-weight: 600;
	margin-left: 40px;
}

.form-field {
	display: flex;
	/* width: 50%; */
	justify-content: space-between;
	height: 40px;
}

.inputs input, select {
	padding: 10px 15px;
	display: flex;
	align-items: flex-end;
	font-size: 14px;
	text-align: center;
	background: transparent;
	width: 100%;
	border: none;
	border-bottom: 1px solid #000;
}
.inputs input:focus {
  outline: none;
}
.inputs input:valid {
	background-color: transparent;
  }
.inputs{
	display: flex;
	justify-content: flex-end;
	
	width: 60%;
}
input::placeholder,
textarea::placeholder,
select{
  color: #000000; /* Set the text color */
  font-family: 'Lora';
  font-size: 14px;
}
.btn {
	background-color: rgba(0, 0, 0, .95);
	color: #fff;
	padding: 10px 20px;
	border: none;
	font-size: 18px;
	border-radius: 100px;
	box-shadow: 7px 10px 12px rgba(0, 0, 0, .1);
	cursor: pointer;
	transition: all .3s;
}

.btn:hover {
	transform: scale(1.03);
	box-shadow: 10px 12px 15px rgba(0, 0, 0, .3);
}

@media screen and (max-width: 768px) {
	.container-form{
		width: unset;
		margin: unset;
	}
	form{
		width: 95%;
	}
	.form-field p{
		font-size: 12px;
		margin-top: 30px;
		margin-bottom: 0;
	}
	input::placeholder,
textarea::placeholder,
select{
  color: #000000; /* Set the text color */
  font-family: 'Lora';
  font-size: 12px;
}
	.container {
		flex-direction: column;
		width: 95%;
	}

	.container-time {
		padding: 30px;
		border-radius: 12px;
		margin-bottom: 10px;
		padding: 0;
		font-size: 12px;
	}

	.container-form {
		padding: 10px;
		border-radius: 12px;
	}
	.form-field{
		height: unset;
	}
	.heading {
		font-size: 30px;
	}

	.heading-days {
		font-size: 20px;
	}

	.heading-phone {
		font-size: 16px;
    padding: 10px;
	}
	.container-form h2{
		all: unset;
		font-size: 30px;
		font-weight: 600;
		background-color: #476965;
		color: #fff;
		border-radius: 20px;
		padding: 2%;
		display: flex;
		justify-content: center;
	}
	input,
	select {
		width: 100%;
		margin: 10px 0;
	}

	.btn {
		width: 100%;
	}
}

@media screen and (min-width: 769px) and (max-width: 880px) {
	.container-time {
		padding: 30px;
	}

	.container-form {
		padding: 10px;
	}
}





/* Our Team section  */
.team{
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  align-items: center;
  padding: 40px 16px;
}
.profilecard {
  position: relative;
  width: 330px;
  height: 320px;
  background-color: #ece9f5;
  border-radius: 5px;
  box-shadow: 0 8px 8px 0 rgba(27, 6, 83, 0.397);
  padding: 20px;
  margin:  56px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profilecard:hover{
  box-shadow: 2px 1px 15px #e208082c;
  transition: .3s ease-in-out;
}
.card-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.5),
  0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.card-image > img {
  width: 100%;
  transform: scale(1.2);
}
.name {
  margin-top: 100px;
  font-size: 1.4em;
  color: #333;
  font-weight: bold;
  letter-spacing: 0.8px;
  margin-bottom: 8px;
}
namet p:nth-child(4){
 display: unset;
}
.namet {
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
  text-align: center;
}



.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}



.facebook:hover {
  opacity: 0.5;
}

.facebook i {
  color: #fff;
  font-size: 1.4em;
}
.instagram:hover {
  opacity: 0.5;
}

.instagram > i {
  color: #fff;
  font-size: 1.4em;
}

/* Social media colors */
.facebook {
  background: #4267B2;
  font-size: 20px;
} 

.instagram {
background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
} 
.facebook, .instagram{
  margin: 12px 8px;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.4s;
  justify-content: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  mix-blend-mode: darken;
}
@media only screen and (max-width: 768px) {
  .team{
    padding: 40px 0;
  }
  .profilecard{
    height: unset;
    margin: 56px 0;
    width: 95%;
  }
}



/* Testimonials  */
.testimonials-section{
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-clr);
	width: 100%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
	padding: 0px 8%;
  scroll-behavior: smooth;
}
.testimonials-section .section-header{
	max-width: 700px;
	text-align: center;
	margin: 30px auto 40px;
}
.section-header h1{
	position: relative;
	font-size: 36px;
	color: var(--primary-clr);
}
.testimonials-container{
	position: relative;
}
.testimonials-container .testimonial-card{
	padding: 20px;
}
.testimonial-card .test-card-body{
	background-color: var(--card-clr);
	box-shadow: 2px 2px 20px rgba(0,0,0,0.12);
	padding: 20px;
	border-radius: 20px;
}
.test-card-body .quote{
	display: flex;
	align-items: center;
}
.test-card-body .quote i{
	font-size: 45px;
	color: var(--heading-clr);
	margin-right: 20px;
}
.test-card-body .quote h2{
	color: var(--heading-clr);
}
.test-card-body p{
	margin: 10px 0px 15px;
	font-size: 14px;
	line-height: 1.5;
	color: var(--text-clr);
}
.test-card-body .ratings{
	margin-top: 20px;
}
.test-card-body .ratings i{
	font-size: 17px;
	color: var(--star-rating);
	cursor: pointer;
}
.testimonial-card .profile{
	display: flex;
	align-items: center;
	margin-top: 25px;
}
.profile .profile-image{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 15px;
}
.profile .profile-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.profile .profile-desc{
	display: flex;
	flex-direction: column;
}
.profile-desc span:nth-child(1){
	font-size: 24px;
	font-weight: bold;
	color: var(--primary-clr);
}
.profile-desc span:nth-child(2){
	font-size: 15px;
	color: var(--text-clr);
}
.owl-nav{
	position: absolute;
	right: 20px;
	bottom: -10px;
}
.owl-nav button{
height: 10px;
transform: translateY(-10px);
background-color: transparent;
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i{
	padding: 10px !important;
  overflow: hidden;
	border-radius: 10%;
	font-size: 18px !important;
	background-color: var(--card-clr) !important;
	color: var(--primary-clr);
	cursor: pointer;
	transition: 0.4s;
}
.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover{
	background-color: var(--primary-clr) !important;
	color: #e9e9e9;
}
.owl-dots{
	margin-top: 15px;
}
.owl-dots .owl-dot span{
	background-color: #434753 !important;
	padding: 6px !important;
}
.owl-dot.active span{
	background-color: var(--primary-clr) !important;
}
@media only screen and (max-width: 768px) {
  .section-header h1{
    font-size: 25px;

  }
  .profile-desc span:nth-child(1){
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-clr);
  }
  .profile-desc span:nth-child(2){
    font-size: 15px;
    color: var(--text-clr);
  }
  .test-card-body .quote i{
    font-size: 30px;
    color: var(--heading-clr);
    margin-right: 20px;
  }
}




/* Footer section */
footer{
  /* position: fixed; */
  background: #141416;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: .3px solid #f2f2f280;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .foot{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .foot .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.foot .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.foot .top .media-icons{
  display: flex;
}
.foot .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #40CE50;
}
.top .media-icons a:nth-child(4):hover{
  color: #40CE50;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #000000;
  border: .5px solid grey;
}
.top .media-icons a:nth-child(5):hover{
  color: #000000;
  background: #f1f1f1;
}
.top .media-icons a:nth-child(6){
  background: #FF0000;
}
.top .media-icons a:nth-child(6):hover{
  color: #FF0000;
  background: #f1f1f1;
}
footer .foot .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .foot .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.foot .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.foot .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.foot .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.foot .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.foot .link-boxes .input-box{ 
  margin-right: 55px;
}
.link-boxes .input-box input{
  all: unset;
  height: 40px;
  width: calc(100% + 10px);
  outline: none;
  border: 2px solid #AFAFB6;
  background-color: rgba(255, 255, 255, 0.2); /* Transparent background color */
  backdrop-filter: blur(8px); /* Apply the blur effect */
  border-radius: 10px; /* Rounded corners for a glass-like look */
  padding: 20px; /* Add some padding for content */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  justify-content: center;
  display: flex;
  color: #140B5C;
  border: none;
  width: 107%;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: linear-gradient(180deg, transparent,#000, #aa0d0d);
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .foot .link-boxes{
    flex-wrap: wrap;
  }
  footer .foot .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 775px){
  .top .media-icons a:nth-child(1){
    display: none;
  }
  .top .media-icons a:nth-child(2){
    display: none;
  }
  .top .media-icons a:nth-child(3){
    display: none;
  }
  /* .top .media-icons a:nth-child(4){
    display: none;
  } */
  footer{
    position: relative;
  }
  .foot .top .logo-details{
    font-size: 20px;
  }
  .foot .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .foot .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .foot .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .foot .top{
    flex-direction: column;
  }
  .foot .top .media-icons{
    margin-top: 16px;
  }
  footer .foot .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .foot .link-boxes .input-box{
    width: 100%;
  }
  footer .bottom-details .bottom_text{
    
   all: unset;
   margin: 0px 0 0 30px ;
   padding: 0px;
  }
  footer .bottom-details .bottom_text a{
    text-decoration: underline;
    margin: 0 35px;
  }
}